<div ng-controller="ExpenseCtrl">
  <h1>My weekly expenses</h1>

  <table class="table">
    <colgroup>
      <col width="15%"></col>
      <col width="5%"></col>
      <col width="15%"></col>
      <col width="25%"></col>
    </colgroup>


    <% @transactions.each do |t| %>

      <tr>
        <td>
          <%= t.description %>
        </td>

        <td>
          <%= t.amount %>
        </td>

        <td>
          <%= t.category %>
        </td>
        <td>
          <button class="btn btn-default">Edit</button>
          <button class="btn btn-default">Delete</button>
        </td>
      </tr>
    <% end %>

  </table>

  <button class="btn btn-primary">Add</button>

</div>