<!DOCTYPE html>
<html>
<head>
  <title>AngularTut</title>
  
  <link rel="stylesheet" href="/css/bootstrap.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <script src="/js/bootstrap.js"></script>

  <%= csrf_meta_tags %>
</head>
<body ng-app="angularTut">

<%= yield %>

</body>
</html>
