<!DOCTYPE html>
<html>
<head>
  <title>AngularTut</title>
  
  <link rel="stylesheet" href="/css/bootstrap.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <script src="/js/bootstrap.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Expense +</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container main-content">
    <div >
      <%= yield %>
    </div>
  </div>

</body>
</html>
